<!DOCTYPE html>
{% load static %}
<html>	
	<head>
		<title>Sjoerd Kerkstra | Mixes</title>
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
		<meta name="description" content="Mixes by Sjoerd Kerkstra. Music to make your life better. Love, Life and Truth" />
		<meta name="keywords" content="Sjoerd Kerkstra Music Mixes Mixtapes" />
		<link href="{% get_static_prefix %}mixes_site/css/mixes.css" type="text/css" rel="stylesheet">
		<script>
			
			function onscreenresize(){
							// Set these as jquery because css cannot do this.
							if(FULLRESIMAGE){
							}else{
								$("#maincontent").height($(window).height()+"px");
								$("#maincontent").width($("#imagecontained").width())
								
							}
							
				}
		</script>
			
	</head>
	<body>
		<div id="maincontent">
			<div id="leftcolumn">
				<div id="mixes">MIXES</div>							
				<div id="contact"> by Sjoerd Kerkstra </div>
				<div id="bookmarks"> 
					<ul>
				{% for mix in mixes %}
					<li><a href="#{{mix.mix_name}}">{{mix.mix_name}}</a></li>
				{% endfor %}
					</ul>	
				</div>
				
				
			</div>
			<div id="rightcolumn">
				{% for mix in mixes %}
					<div id="mixcloudwidgetcontainer">
						<a name="{{mix.mix_name}}" class="jump"></a>
						<iframe src="//www.mixcloud.com/widget/iframe/?feed=http%3A%2F%2Fwww.mixcloud.com%2F{{mix.user_name}}%2F{{mix.mix_name}}%2F&amp;embed_type=widget_standard&amp;embed_uuid=7ae8a00d-bfc3-4f8b-a810-1970236c8d37&amp;hide_tracklist=1&amp;hide_cover=1" width="660" frameborder="0" height="180"></iframe><div style="clear: both; height: 3px; width: 652px;"></div><p style="display: block; font-size: 12px; font-family: Helvetica,Arial,sans-serif; margin: 0px; padding: 3px 4px; color: rgb(153, 153, 153); width: 652px;">
						<div id="mixcomment">{{mix.description}}</div>
					</div>					
				{% endfor %}		
			</div> 
			<div style="clear:both;"></div>
		</div>
	</body>
</html>
