<!DOCTYPE html>
{% load static %}
<html>	
	<head>
		<title>Sjoerd Kerkstra | Home</title>
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
		<meta name="description" content="Online CV of, and assorted nice things by, Sjoerd Kerkstra" />
		<meta name="keywords" content="Sjoerd Kerkstra personal website" />
		<link href="{% get_static_prefix %}sjoerdkerkstra_site/css/sjoerdkerkstra.css" type="text/css" rel="stylesheet">


		<script> </script>
        <style>
        .header{text-align:center; margin-top: 36px;}
		.centered {width: 507px;
        		   margin-left: auto;
        		   margin-right: auto;
        		   }
        .image {float:left; margin:19px;}
		.footer {bottom:10px; z-index:-1; color:#BBBBBB; float:right;}
		a.image{height:130px;width:130px; background-color:#D1D1D1;}
        	
        </style>
	</head>
	<body>
		<div class ="header centered"><img src="images/lunavanloon.png"/></div>
		<div class ="imagescontainer centered">
			<a class="image" target="new" href="https://www.facebook.com/luna.vanloon">
				<img title="facebook" alt="facebook" src="images/facebook.png"/>
			</a>
			<a class="image" target="new" href="https://www.facebook.com/pages/Mrs-Eaves/106100559420436">
				<img title="Mrs. Eaves" alt="Mrs. Eaves" src="images/mrs_eaves.png"/>
			</a>
			<a class="image" target="new" href="http://www.linkedin.com/in/lunavanloon">
				<img title="Linkedin" alt="Linkedin" src="images/linkedin.png"/>
			</a>
			<a class="image" target="new" href="http://www.mediamatic.net/60505/nl/luna-van-loon">
				<img title="Mediamatic" alt="Mediamatic" src="images/mediamatic.png"/>
			</a>
			<a class="image" target="new" href="http://hardhoofd.com/2011/02/03/stop-the-verdana-madness/">
				<img title="Stop the verdana madness" alt="Stop the verdana madness op hardhoofd" src="images/ikea_verdana.png"/>
			</a>
			<a class="image" target="new" href="http://mistermotley.nl/Archief/Nummers/24/Txt/do-hit-luna-van-loon/">
				<img title="Do Hit" alt="Do Hit in Mr. Motly " src="images/dohit.png"/>
			</a>
			<a class="image" target="new" href="http://hardhoofd.com/2011/11/03/michael-jackson-is-geschiedenis/">
				<img title="Michael Jackson" alt="Michael Jackson op hardhoofd" src="images/michael_jackson.png"/>
			</a>
			<a class="image" target="new" href="http://books.google.nl/books?vid=ISBN9789063692575">
				<img title="I don't know where I am going but I want to be there" alt="I don't know where I am going but I want to be there" src="images/there.png"/>
			</a>
			<a class="image" href="mailto:lunavanloon@gmail.com">
				<img title="Contact" alt="Contact" src="images/envelop.png"/>
			</a>
			<div style="clear:both;"></div>
		</div>
				
		<div class="footer">
			Sjoerd Kerkstra 2014
		</div>
				
	
	</body>
</html>
	
	