<!DOCTYPE html>
{% load static %}
<html>	
	<head>
		<title>Sjoerd Kerkstra | Mixes</title>
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
		<meta name="description" content="Online CV of, and assorted nice things by, Sjoerd Kerkstra" />
		<meta name="keywords" content="Sjoerd Kerkstra personal website" />
		<link href="{% get_static_prefix %}sjoerdkerkstra_site/css/mixes.css" type="text/css" rel="stylesheet">
		<script>
			
			function onscreenresize(){
				//nothing right now
				}
		</script>
			
	</head>
	<body>
		<div>
			MAIN PAGE
		</div>
	</body>
</html>
