*.log
*.pot
*.pyc
local_settings.py

## Ignore related non-public content
mixes_stuff/*

## Ignore Eclipse stuff
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

## Ignore deployment specific files
sjoerdkerkstra/RUN
sjoerdkerkstra/sjoerdkerkstra.pid
sjoerdkerkstra/sjoerdkerkstra/settings_deployment.py
sjoerdkerkstra/sjoerdkerkstra/static/

